@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400;1,700&family=Noto+Sans&display=swap');

/* 전체 */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#root {
	background-color: #F3F3F4;
}

body {
  min-width: 500px; /* 최소 넓이 500px 고정 */
}
.change-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
	background: #F3F3F4;
}

/* change-left-container */

.change-left-container {
	width:430px;
  height: 540px;
	border-radius: 10px 0px 0px 10px;
	left: 75px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-image: 
    radial-gradient(ellipse farthest-corner at 0 140%, #7486BA 0%, #455494 70%, #5C6EA7 70%);
}
.change-left-wrap {
	color: #fff;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'IBM Plex Mono', monospace;
}
.change-left-wrap h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
		font-style: italic;
}
.change-left-wrap p {
	padding-top: 30px;
	font-size:13px;
}

/* change-right-container */

.change-right-container {
	width:430px;
  height: 540px;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	flex-direction: column;
  align-items: center;
	background: #fff;
}

#change-right-logo{
	position: absolute;
	top: 30%;
	text-align: center;
	font-weight: 900;
	font-size: 27px;
	font-style: italic;
	font-family: 'IBM Plex Mono', monospace;
	color: #382E89;
	display: none;
}

.change-right-container .right-top-wrap{
	padding-bottom: 450px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	font-family: 'Noto Sans', sans-serif;
}
.change-right-container .right-top-wrap span{
	color: gray;
	font-size: 11px;
	padding-right:20px;
}
.change-right-container .right-top-wrap .create-account-btn {
	background: #F3F3F4;
	border: 0;
	margin-right: 20px;
	width:85px;
	height: 35px;
	font-size: 11px;
	color: #455494;
	border-radius: 3px;
}
#change-text {
	position: absolute;
	top: 40%;
	width:300px;
	font-family: 'Noto Sans', sans-serif;
}
#change-text p{
	font-size: 11px;
}
.change-input-container{
	position: absolute;
	padding-bottom: 32%;
	width:300px;
	font-family: 'Noto Sans', sans-serif;
}
#change-input-id {
	font-size: 15px;
	background: #F3F3F4;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}

#change-input-password {
	font-size: 15px;
	background: #F3F3F4;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}

#change-input-confirm-password {
	font-size: 15px;
	background: #F3F3F4;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}

.change-input-wrap .password-find {
	margin-top:10px;
	text-decoration: none;
	font-size: 9px;
	color: gray;
	text-align: right;
}
.change-btn-wrap{
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: column;
	align-items: center;
}
.change-btn-wrap .change-btn{
	width:95px;
	height:35px;
	color:#fff;
	border: 0;
	border-radius: 4px;
	background: #5C6EA7;
	position: absolute;
  top: 95%;
}

#change-confirm-password-container {
	position: absolute;
	top: 66%;
	width: 300px;
	height: 50px;
}

#change-eamil-container {
	width: 300px;
	height: 65px;
}

#change-password-container {
	position: absolute;
	top: 40%;
	width: 300px;
	height: 50px;
}

#change-text-sucess {
	padding-bottom: 10px;
}

#change-login-page-lending {
	position: absolute;
	top: 67%;
	font-size: 11px;
	color: grey;
	text-align: right;
}

/* 반응형 */

@media ( max-width: 880px ) {
	.change-left-container {
		display: none;
	}
	.change-right-container  {
			border-radius: 10px;
	}
	#change-right-logo	{display: block;}
}
