
/* 전체 */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.change-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F0F1F3;
}

/* change-left-container */

.change-left-container {
	width:430px;
  height: 540px;
	border-radius: 10px 0px 0px 10px;
	left: 75px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-image: 
    radial-gradient(ellipse farthest-corner at 0 140%, #7486BA 0%, #455494 70%, #5C6EA7 70%);
}
.change-left-wrap {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'IBM Plex Mono', monospace;
}
.change-left-wrap h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
		font-style: italic;
}
.change-left-wrap p {
	padding-top: 30px;
	font-size:13px;
}

/* change-right-container */

.change-right-container {
	width:430px;
  height: 540px;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
  align-items: center;
	background: #fff;
}

#rigth-logo{
	position: absolute;
	top: 150px;
	text-align: center;
	font-weight: 900;
	font-size: 27px;
	font-style: italic;
	font-family: 'IBM Plex Mono', monospace;
	color: #382E89;
	display: none;
}

.change-right-container .right-top-wrap{
	padding-bottom: 450px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	font-family: 'Noto Sans', sans-serif;
}
.change-right-container .right-top-wrap span{
	color: gray;
	font-size: 11px;
	padding-right:20px;
}
.change-right-container .right-top-wrap .create-account-btn {
	background: #F7F7F7;
	border: 0;
	margin-right: 20px;
	width:85px;
	height: 35px;
	font-size: 11px;
	color: #455494;
	border-radius: 3px;
}
#change-text {
	position: absolute;
	top: 240px;
	width:300px;
	font-family: 'Noto Sans', sans-serif;
}
#change-text p{
	font-size: 11px;
}
.change-input-container{
	position: absolute;
	padding-top: 240px;
	width:300px;
	font-family: 'Noto Sans', sans-serif;
}
#input-id {
	font-size: 15px;
	background: #F7F7F7;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}

#input-password {
	font-size: 15px;
	background: #F7F7F7;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}

#input-confirm-password {
	font-size: 15px;
	background: #F7F7F7;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}

.change-input-wrap .password-find {
	margin-top:10px;
	text-decoration: none;
	font-size: 9px;
	color: gray;
	text-align: right;
}
.change-btn-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.change-btn-wrap .change-btn{
	width:95px;
	height:35px;
	color:white;
	border: 0;
	border-radius: 4px;
	background: #5C6EA7;
}

#eamil-container {
	width: 300px;
	height: 65px;
}

#change-password-container {
	position: absolute;
  top: 100px;
	width: 300px;
	height: 50px;
}

#change-confirm-password-container {
	position: absolute;
	top: 170px;
	width: 300px;
	height: 50px;
}

#change-text-sucess {
	padding-bottom: 10px;
}


/* sns 간편 로그인 */

.sns-change-container {
	padding-top: 40px;
	font-family: 'Noto Sans', sans-serif;
}
.sns-change-text {
	margin-top:10px;
	text-decoration: none;
	font-size: 11px;
	color: gray;
	text-align: center;
}
.sns-change-container img {
	width: 40px;
	margin: 15px 10px;
	flex: 1;
	flex-direction: row;
}
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.25);
	font-size: 12px;
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.25);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

/* 반응형 */

@media ( max-width: 880px ) {
	.change-left-container {
		display: none;
	}
	.change-right-container  {
			border-radius: 10px;
	}
	#rigth-logo	{display: block;}
}
