@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400;1,700&family=Noto+Sans&display=swap');
/* border-box: 테두리를 기준으로 크기를 정해줌 */
* {
  box-sizing: border-box; 
}

#root {
	background-color: #F3F3F4;
	padding-bottom: 50px;
}

/* 공백 없이 body에 붙여줌 */
html,body {
	margin: 0;
	padding: 0;
}

/* 배경색: #F3F3F4 */
body {
  background: #F3F3F4;
	min-width: 500px; /* 최소 넓이 500px 고정 */
}

#root {
	background-color: #F3F3F4;
}

header {  
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: 75px;
	padding: 2rem;
  background: #fff;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
	box-shadow: 0 2px 6px 0 rgb(223, 223, 223);
	z-index: 99;
}

#header-logo {
  margin: 0;
	font-weight: 900;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 900;
	font-style: italic;
	color: #382E89;
	padding: 14px;
}

#header-menu-container {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: flex-end;
	align-items: center;
}

#header-menu-container div {
	padding: 14px;
}

#header-menu-container div {
	color: #707070;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
}

#header-menu-container span:hover {
	color: #455494;
}

/* 드롭다운 메뉴 */
#my-page-img-btn img {
	width: 50px;
	height: 50px;
}

.header-dropdown-container {
	position: relative;
	display: inline-block;
}

#header-dropdown-btn {
	cursor : pointer;
}

.header-dropdown-content{
	margin: 0 auto;
	padding: 0!important;
  position : absolute;
	display: none;
	left: -70px;
  width : 150px;
	height: 93px;
	background-color: rgba(202, 202, 202, 0.562);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	z-index : 99; /*다른 요소들보다 앞에 배치*/
	overflow: hidden; /* 넘치는 부분 숨김처리 */
}

.header-dropdown-content a{
	padding: 12px 16px;
	text-align: center;
  display : block;
  text-decoration : none;
  color : hsl(0, 0%, 44%);
  font-size: 15px;
}

.header-dropdown-content #logout-btn:hover {
	background-color: #F3F3F4;
 	color: #455494;
}
.header-dropdown-content #delete-btn:hover {
	color: #ca5770;
	background-color: #F3F3F4;
 }

.header-dropdown-container:hover .header-dropdown-content {
	display: block;
}
