/* border-box: 테두리를 기준으로 크기를 정해줌 */
* {
  box-sizing: border-box; 
}

/* 공백 없이 body에 붙여줌 */
html,body {
	margin: 0;
	padding: 0;
}

/* 배경색: #F3F3F4 */
body {
  background: #F3F3F4;
	min-width: 500px; /* 최소 넓이 500px 고정 */
}

header {  
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: 75px;
	padding: 2rem;
  background: #fff;
	display: flex;
  justify-content: space-between;
  align-items: center;
	box-shadow: 0 2px 6px 0 rgb(223, 223, 223);
	z-index: 99;
}

#header-logo {
  margin: 0;
	font-weight: 900;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 900;
	font-style: italic;
	color: #382E89;
	padding: 14px;
}

#header-menu-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#header-menu-container div {
	padding: 14px;
}

#header-menu-container div {
	color: #707070;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
}

#header-menu-container span:hover {
	color: #455494;
}

/* 드롭다운 메뉴 */
#my-page-img img {
	width: 50px;
	height: 50px;
}

.header-dropdown-container {
	position: relative;
	display: inline-block;
}

#header-dropdown-btn {
	cursor : pointer;
}

.header-dropdown-content{
  display : none;
  position : absolute;
	left: -70px;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  width : 150px;
	background-color: rgba(61, 61, 61, 0.089);
	border-radius: 10px;
	text-align: right;
}

.header-dropdown-content div{
  display : block;
  text-decoration : none;
  color : #707070;
  font-size: 15px;
  padding : 0 20px;
}

.header-dropdown-content #logout-btn:hover {
 color: #455494;
}
.header-dropdown-content #delete-btn:hover {
	color: #ca5770;
 }

.header-dropdown-container:hover .header-dropdown-content {
	display: block;
}
