@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400;1,700&family=Noto+Sans&display=swap');
/* 전체 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  min-width: 500px; /* 최소 넓이 500px 고정 */
}

#root {
	background-color: #F3F3F4;
}


/* 회원가입 입력 컨테이너 */
.register-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
	background: #F3F3F4;
}
/* register-left-container */
.register-left-container {
	width:430px;
  height: 540px;
	border-radius: 10px 0px 0px 10px;
	left: 75px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-image: 
    radial-gradient(ellipse farthest-corner at 0 140%, #7486BA 0%, #455494 70%, #5C6EA7 70%);
}
.register-left-wrap {
	color: #fff;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'IBM Plex Mono', monospace;
}
.register-left-wrap h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
		font-style: italic;
}
.register-left-wrap p {
	padding-top: 30px;
	font-size:13px;
}
/* register-right-container */
.register-right-container {
	width:430px;
  height: 540px;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	flex-direction: column;
  align-items: center;
	background: #fff;
}
#register-right-logo{
	position: absolute;
	top: 18%;
	text-align: center;
	font-weight: 900;
	font-size: 27px;
	font-style: italic;
	font-family: 'IBM Plex Mono', monospace;
	color: #382E89;
	display: none;
}
.register-right-container .right-top-wrap{
	padding-bottom: 450px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	font-family: 'Noto Sans', sans-serif;
}
.register-right-container .right-top-wrap span{
	color: gray;
	font-size: 11px;
	padding-right:20px;
}
.register-right-container .right-top-wrap .create-account-btn {
	background: #F3F3F4;
	border: 0;
	margin-right: 20px;
	width:85px;
	height: 35px;
	font-size: 11px;
	color: #455494;
	border-radius: 3px;
}
.register-input-container{
	position: absolute;
	top: 32%;
	width:300px;
	font-family: 'Noto Sans', sans-serif;
}
#register-input-id {
	font-size: 15px;
	background: #F3F3F4;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}
#register-input-password {
	font-size: 15px;
	background: #F3F3F4;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}
.register-input-wrap .password-find {
	margin-top:10px;
	text-decoration: none;
	font-size: 9px;
	color: gray;
	text-align: right;
}
.register-btn-wrap{
	margin-top: 20px;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: column;
	align-items: center;;
}
.register-btn-wrap .register-btn{
	width:95px;
	height:35px;
	color:#fff;
	border: 0;
	border-radius: 4px;
	background: #5C6EA7;
}
#register-eamil-container {
	width: 300px;
	height: 65px;
}
#register-password-container {
	width: 300px;
	height: 65px;
}

#register-input-confirm-password {
	font-size: 15px;
	background: #F3F3F4;
	border: none;
	line-height: 20px;
	padding-left:10px;
	width:300px;
}

#register-confirm-password-container {
	width: 300px;
	height: 65px;
}
#register-name-container {
	width: 300px;
	height: 65px;
}

#register-input-name {
	font-size: 15px;
	background: #F3F3F4;
	border: none;
	line-height: 20px;
	padding-left: 10px;
	width: 300px;
}



/* 반응형 */
@media ( max-width: 880px ) {
	.register-left-container {
		display: none;
	}
	.register-right-container  {
			border-radius: 10px;
	}
	#register-right-logo	{display: block;}
}